<h1 style="margin-top: 30px">Saved movies</h1>

<div class="row">
    <div class="col-sm-6 col-md-4" *ngFor="let movie of movies">
        <app-movie [movie]="movie" [unsaveButton]="true" (unsaved)="remove($event)"></app-movie>
    </div>
</div>