.heading {
    font-weight: 900 !important;
    text-align: right;

    &::after {
        content: ':';
    }

    @media only screen and (max-width: 768px) {
        text-align: left;
    }
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}