<div class="container" style="margin-top: 30px">
    <h1>About</h1>
    <p>Курсов проект по Абстракции и преизползваем код в клиентска среда</p>

    <h3>Кратко описание на проекта</h3>
    <p>Проекта представлява single page application за търсене на информация за филми, запазването им в "Любими" и записване на изгледани филми.</p>
    <p>Използва се <a  href="omdbapi.com/">omdbapi</a> за получаване на информация за филмите.</p>

    <h3>Данни за студента</h3>
    <p>
        Петър Любенов <br>
        ф. №: 1709010883 <br>
        Софтуерно Инженерство, III курс 
    </p>
</div>
