<div class="jumbotron">
    <h1 class="display-5">Hooked</h1>
    <p class="lead">Keep track of movies you've seen</p>
</div>

<h3>Recently saved movies</h3>
<div class="row" *ngIf="saved">
    <div class="col col-sm-12 col-md-4" *ngFor="let movie of saved">
        <app-movie [movie]="movie"></app-movie>
    </div>
    <p style="margin-left: 1.1em;" *ngIf="saved.length === 0">You have not saved any movies yet.</p>
</div>
<hr class="my-4">

<h3>Recently seen movies</h3>
<div class="row" *ngIf="seen">
    <div class="col col-sm-12 col-md-4" *ngFor="let movie of seen">
        <app-movie [movie]="movie"></app-movie>
    </div>
    <p style="margin-left: 1.1em;" *ngIf="saved.length === 0">You have not seen any movies yet.</p>
</div>