<div class="remove-button-wrapper">
    <div *ngIf="unsaveButton" class="close-button" (click)="unsave()"><i class="fa fa-times"></i></div>
</div>
<div class="card mb-3">
    <img *ngIf="movie.Poster !== 'N/A'" [src]="movie.Poster" [alt]="movie.Title" class="card-image" />
    <img *ngIf="movie.Poster === 'N/A'" src="/assets/film-poster-placeholder.png" [alt]="movie.Title" class="card-image" />

    <h5 class="card-header" title="{{movie.Title}} ({{movie.Year}})">
        {{ movie.Title }} ({{ movie.Year }}) 
    </h5>
    <div class="card-body">
        <a [routerLink]="['/details', movie.imdbID]" class="card-link details"><i class="fa fa-search"></i> More</a>
        <a *ngIf="!unsaveButton" (click)="toggleSave()" class="card-link favorite" [class.favorited]="isSaved"><i class="fa fa-heart"></i> {{ isSaved ? 'Saved!' : 'Save' }}</a>
        <a *ngIf="!unsaveButton" [class.disabled]="isSeen" (click)="seen()" class="card-link watch"><i class="fa" [class.fa-check]="isSeen" [class.fa-plus]="!isSeen"></i> Seen</a>
    </div>
</div>