.card {
    height: 525px;

    .card-image {
        width: 100%;
        height: 425px;
        object-fit: cover;
    }
    .card-header {
        height: 3.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
    }
    .card-body {
        .favorite { 
            color: rgb(207, 52, 52); 
            &:hover {
                color: rgb(243, 76, 76); 
            }

            cursor: pointer;
        }

        .favorited {
            color: rgb(243, 76, 76);
            cursor: default;
        }

        .watch {
            color: rgb(109, 74, 236);

            &:hover {
                color: rgb(141, 112, 248);
            }

            cursor: pointer;

            &.disabled {
                cursor: default;
                &:hover {
                    color: rgb(109, 74, 236);
                }
            }
        }
    }
    
}
.remove-button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    transform: translate(1em, 1.5em);
    z-index: 9999;
    
    .close-button {
        margin-left: auto;
        width: 2.5em;
        height: 2.5em;
        background-color: #ffffff;
        border-radius: 1.25em;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px solid #dadada, 1px solid #dadada, 1px solid #fafafa, 1px solid #fafafa;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
        cursor: pointer;

        &:hover {
            background-color: #f1f1f1;
            border: 1px solid #cacaca, 1px solid #cacaca, 1px solid #dadada, 1px solid #dadada;
        }
    }
}